:root {
  --main-bg-color: #38AECC;
  --flow-summary-bg-color: #95D9C3;
  --message-color: #363636;
}

html, body {
  background-color: var(--main-bg-color);
}

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

h1 {
  font-family: 'Faster One', cursive;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
}

.dropdown-menu-width {
  min-width: auto;
  width: 100%;
}

.dropdown-content > div {
  text-align: center;
  padding: unset;
}

.dropdown-item:hover {
  font-weight: bold;
}

.dropdown-item-selected {
  color: var(--main-bg-color);
  font-weight: bolder;
}

.flow-list-len {
  text-align: center;
  color: var(--message-color);
  padding-top: 36px;
}

.flow-list-num {
  font-weight: bolder;
}

.flow-summary-name {
  font-size: 1em;
  font-weight: bold;
}

.flow-summary-data {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  font-size: 1em;
}

.flow-summary-info {
  display: flex;
  align-items: center;
}

.flow-summary-icons {
  font-size: 1.2em;
}

.flow-summary-weather-icon {
  font-size: 1.5em;
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  width: 108px;
  margin-top: 36px;
  font-size: 1.2em;
}