:root {
  --main-bg-color: #38AECC;
  --flow-summary-bg-color: #95D9C3;
  --message-color: #363636;
}

html, body {
  background-color: var(--main-bg-color);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
}

.flow-list-len {
  text-align: center;
  color: var(--message-color);
  padding-top: 36px;
}

.flow-list-num {
  font-weight: bolder;
}

.flow-summary-name {
  font-size: 1em;
  font-weight: bold;
}

.flow-summary-data {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  font-size: 1em;
}

.flow-summary-info {
  display: flex;
  align-items: center;
}

.flow-summary-icons {
  font-size: 1.2em;
}

.flow-summary-weather-icon {
  font-size: 1.5em;
}